//theme colors
$primary: #996b60;
$primaryClear: #996b607c;
$defaultWhite: #ffffff;
$themeWhite: #f7f7f7;
$themeWhiteAlt: rgb(235, 235, 235);
$whiteClear: rgba(255, 255, 255, 0.6);
$themeGrey: #818181;
$themeGreyAlt: #747474;
$greyClear: #74747469;
$greyClearAlt: #7474747e;
$lightGrey: #b1b1b1;
$themeBlack: #141414;
$themeBlackAlt: #191919;
$blackClear: #0f0f0f93;
$loadingColor: #161519;

//shadows
$shadowDefault: 0px 4px 4px rgba(0, 0, 0, 0.25);

//fonts
$themeFont: "Playfair Display", serif;